name: bot

on:
  pull_request:
    paths:
      - tasks/**
      - src/**
      - tests/**
      - '*.json'
      - '*.yaml'
      - .github/workflows/bot.yaml

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}--${{ github.event.pull_request.id }}--${{ github.actor }}

jobs:
  run:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: .node-version
      - run: npm install -g pnpm@latest-10
      - run: pnpm i

      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: token
        with:
          app-id: ${{ secrets.BOT_APP_ID }}
          private-key: ${{ secrets.BOT_APP_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}

      - uses: int128/glob-changed-files-action@736450ea59431aaf6b913b480f8ae32d3cc7c855 # v2.14.0
        id: changed-tasks
        with:
          paths: |
            tasks/:task/**
          transform: |
            :task
      - run: pnpm start
        env:
          INPUT_TASKS: ${{ steps.changed-tasks.outputs.paths }}
          INPUT_TOKEN: ${{ steps.token.outputs.token }}
          GOOGLE_GENERATIVE_AI_API_KEY: ${{ secrets.BOT_GEMINI_API_KEY }}

      - if: steps.changed-tasks.outputs.paths == ''
        name: Run int128/actions-tanpopo (example)
        run: pnpm start
        env:
          INPUT_TASKS: example
          INPUT_TOKEN: ${{ steps.token.outputs.token }}
          GOOGLE_GENERATIVE_AI_API_KEY: ${{ secrets.E2E_GEMINI_API_KEY }}
          
      - uses: int128/label-action@9c6e2c81559199c98e5b84daca3023df0717c393 # v1.16.0
        id: require-smoke-test
        with:
          match-labels: |
            /require-smoke-test
      - if: steps.require-smoke-test.outputs.matched == 'true'
        name: Run int128/actions-tanpopo (smoke-test)
        run: pnpm start
        env:
          INPUT_TASKS: smoke-test
          INPUT_TOKEN: ${{ steps.token.outputs.token }}
          GOOGLE_GENERATIVE_AI_API_KEY: ${{ secrets.E2E_GEMINI_API_KEY }}
