name: bot

on:
  pull_request:
    paths:
      - tasks/**
      - src/**
      - tests/**
      - '*.json'
      - '*.yaml'
      - .github/workflows/bot.yaml

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}--${{ github.event.pull_request.id }}--${{ github.actor }}

jobs:
  run:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: .node-version
          package-manager-cache: false
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm build

      - uses: int128/glob-changed-files-action@6c38e5c271675418921e9bca14d3045c53f76184 # v2.9.0
        id: changed-tasks
        with:
          paths: |
            tasks/:task/**
          transform: |
            :task

      - uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        id: token
        with:
          app-id: ${{ secrets.BOT_APP_ID }}
          private-key: ${{ secrets.BOT_APP_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
      - if: steps.changed-tasks.outputs.paths != ''
        name: Run int128/actions-tanpopo
        uses: ./
        with:
          tasks: ${{ steps.changed-tasks.outputs.paths }}
          token: ${{ steps.token.outputs.token }}
        env:
          GOOGLE_GENERATIVE_AI_API_KEY: ${{ secrets.BOT_GEMINI_API_KEY }}
      - if: steps.changed-tasks.outputs.paths == ''
        name: Run int128/actions-tanpopo (E2E test)
        uses: ./
        with:
          tasks: example
          token: ${{ steps.token.outputs.token }}
        env:
          GOOGLE_GENERATIVE_AI_API_KEY: ${{ secrets.E2E_GEMINI_API_KEY }}
